<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


    <section class="main">
        <div class="w-full h-15  flex justify-center align-items-center bg-blue-600">
            <h2>Mon blog</h2>
        </div>
    </section>

    <div>
        @section('body')
          
        @endsection
    </div>
    
</body>
</html>