@layout('layout/layout')

@section('body')
  <div class="w-full h-screen flex justify-center items-center">
    <span class="font-bold text-2xl text-white">
        {{post.title}}
    </span>
  </div>
@end